
# /
/eggs
/.eggs
/develop-eggs
/dist
/bin
build/
/parts
/.installed.cfg
*.pyc
*.egg-info

# /dataflake/docbuilder/index_template/
/dataflake/docbuilder/index_template/_build
dataflake/docbuilder/index_template/*.rst

# /docs/
/docs/_build
