# This buildout is used for development of dataflake.docbuilder.

[buildout]
develop = .
parts = 
    docbuilderdocs
    docs


[versions]
# sphinx-rtd-theme 1.1.1 requires docutils <18
docutils = 0.17.1
# Sphinx >=6 requires docutils 18
sphinx = <6

[docbuilderdocs]
recipe = dataflake.docbuilder
copy-output = true
max-tags = 5
eggs =  
  pkginfo
sources =
  https://github.com/dataflake/dataflake.docbuilder

[docs]
recipe = zc.recipe.egg
eggs =  
  dataflake.docbuilder[docs]
  sphinx
interpreter = docpy
